<!DOCTYPE html>
<html>
  <head>
    <title>MSM SIGNIN</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

      <nav>
      <ul>
          <li>
            <% if session.fetch(:user_id) == nil %>
              <a href="/user_sign_in">
                Sign in
              </a>
            <% else %>
              <a href="/user_sign_out">
                Sign out
              </a>
            <% end %>
          </li>
          <li>
            <% if session.fetch(:user_id) == nil %>
              <a href="/user_sign_up">
                Sign up
              </a>
            <% else %>
              <a href="/bookmarks">
                My bookmarks
              </a>
            <% end %>
          </li>
        <li>
          <a href="/">
            Home
          </a>
        </li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
